@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;300&display=swap");

*,
*::before,
*::after{
    margin:0;
    padding:0%;
    box-sizing:border-box;
}

html{
    font-size:62.5%;
    font-family: "Jost", sans-serif;
}

.main_div{
    width:100vw;
    height:100vh;
    background-color: #f6f6f6;
    display:grid;
    place-items: center;
}
.music_container{
    width:70rem;
    height:31rem;
    background-color: #f6f6f6;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding:3rem;
    text-align:center;
}
.music_container #title{
    text-transform:uppercase;
    letter-spacing:0.2rem;
    word-spacing:0.5rem;
    color:#171717;
    margin:2rem 0 0.5rem 0;
    font-size:2.5rem;
    font-weight:500;
    text-shadow:0 0.3rem 0.5rem rgba(0,0,0,0.3);
}
.music_container #artist{
    color:#2dbfab;
    text-transform:capitalize;
    letter-spacing: 0.1rem;
    font-size:2rem;
    margin-bottom:2rem;
    font-weight:300;
}
.img_container{
    width:25rem;
    height:25rem;
    margin:auto;
    float: left;
}
img{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
    box-shadow: 0 1.2rem 3rem 0.5rem  rgba(0,0,0,0.4);
}
.music_controls .fas{
    color:#171717;
    font-size:2rem;
    cursor:pointer;
    filter:drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
}

.music_controls{
    width:20rem;
    margin-top:2rem;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
}


.music_controls .main-button{
    width:5rem;
    height:5rem;
    border-radius:50%;
    background:linear-gradient(to right, rgb(255, 60, 0),rgb(255, 0, 170));
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.4rem;
}
.music_controls .fas:hover{
    color:rgb(255, 0, 170);
}

.music_controls .fa-play:hover{
    background:#fff;
    color:linear-gradient(to right, rgb(255, 60, 0),rgb(255, 0, 170));
    box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0.4);
}
.music_controls .fa-pause:hover{
    background:#fff;
    color:linear-gradient(to right, rgb(255, 60, 0),rgb(255, 0, 170));
    box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0.4);
}

/*Progress bar style*/

.progressbar_container{
    width:100%;
    height:auto;
    padding: 1rem 0;
    margin-top:0.5rem;
}
.progress_div{
    width: 60%;
    margin: auto;
    float: right;
    height:0.5rem;
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);

    border-radius:2rem;
    position:relative;
    margin-top:0.5rem;
    transition:width 1s linear;
    -moz-transition:width 1s linear;
    -o-transition:width 1s linear;
    -webkit-transition:width 1s linear;
    cursor:pointer;
    -webkit-appearance:none;
    appearance:none;
}
.progress{
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    background:linear-gradient(to right, rgb(255, 60, 0),rgb(255, 0, 170));

    border-radius:2rem;
    cursor:pointer;
    -webkit-appearance:none;
    appearance:none;
}

.progress_duration_meter{
    display:flex;
    justify-content: space-between;
    padding:0px 10px;
    font-size:1.2rem;
}
.anime{
    animation: rotatePlayer 3s linear infinite;
}
@keyframes rotatePlayer{
    from{
        transform:rotate(0deg);
    }
    to{
       transform:rotate(360deg);
    }
}

@media screen and (max-width:768px){
    .music_container{
        width:auto;
        height:52rem;
    }
}